<%= stylesheet_link_tag('indexMain')%>
<div class="container">
	
<br><br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="card" id="card">
				<h3 style="color:rgb(128, 3, 17);">Welcome to Alpha-Blog</h3>
			<p>A blog provides a way for clients to build authority <br> and credibility in their industries.</p>
			</div>
		</div>
		<div class="col-md-1">
			
		</div>
	</div>


</div>