<%= stylesheet_link_tag('indexMain')%>
<div class="container">
	
<br><br>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="card" id="card">
				<h2 style="color: white">Alpha-Blog</h2>
				<p style="color: white">A blog provides a way for clients to build authority and credibility in their industries.</p>
				<button type="button" class="btn btn-light">Sign In</button>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>


</div>