#card{
	background-image: url("index5.avif");
	 background-repeat: no-repeat;
	 height: 500px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    border-radius:6px;
}
button{
	width:150px;
	margin-left:380px;
	border-radius:50%;
}

